body, html{
  overflow-x: hidden;
}
// Variables
@import 'variables';
// Mixins
@import 'mixins';

// START:: Navbar
@import 'navbar';

// header
@import 'hero';

.item {
    margin: 2px;
  }

.text-red{
  color: $red;
}

@media (max-width: 767px){
  .footer-grid-column{
    display: flex !important;
    flex-direction: column !important;
    align-items: start !important;
  }
}

.pc-brands{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.owl-nav [class*="owl-"] {
  margin: 0 10px;
}

.owl-prev,.owl-next {
    font-size: 30px !important;
}

.owl-prev {
  content: "< ";
}

.owl-next {
  content: " >";
}

.pc-blog-category a {
  text-decoration: none;
}

//cards
@import 'cardsandbanners';

// Contact
@import 'contact';

// Testimonials
@import 'testimonial';

// About
@import 'about';